body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff; /* Set background color to white */
}

header {
  background-color: #dc7908; 
  text-align: center;
  width: 100%;
  height: 8%;
  position: fixed;
  top: 1%;
  z-index: index 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
    display: inline;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: #dfac14;
}

.header-content {
  flex: .5;
  justify-content: left;
}

.header-pages{
    flex:.5; 
    
}

.header-content h1 {
  font-size: 1rem;
}

/* Style for the button link */
.radio-button {
  padding: 0.1rem .3rem; /* Padding around the text */
  display: inline-flex;
  align-items: center;
  background-color: #ece7da;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.radio-button img {
  margin-right: 0.5rem; /* Space between image and text */
  width: 20px; 
  height: 20px; 
}

