/* .main-section {
  margin-top: 10%; /* Adjust margin to account for fixed header height */
  /* padding: 3rem;
  background-color: #f0f0f0;
   */

/* MainSection.css */
body{
  
}
.main-section {
  margin-top: 7%;
  background-color: rgba(199, 192, 192, 0.729);
  padding: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; 
  flex-direction: column; 
}
.main-section h1{
    color: rgb(236, 130, 9);
}
.main-section p{
    color: rgb(97, 89, 89);
}
button {
  margin-top: .5%; /* Adds space between the paragraph and the button */
  padding: 0.5rem .5rem;
  background-color: #ffaa00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

